html,
body {
  height: 100%;
  margin: 0;
  /* sync with View.Colors.background */
  background-color: #d4d4d4;
  font-family: sans-serif;
}
#canvas-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
