/* Layout */
#root {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 8px;
}
#canvas-main {
  flex: 0 0 auto;
}
#sidebar {
  width: 300px;
  box-sizing: border-box;
  padding: 8px;
}

/* General */
button {
  /* padding: 6px 12px; */
  font-size: 16px;
  height: 40px;
  min-width: 40px;
}
