/* Layout */
#root {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 8px;
}
#canvas-main {
  flex: 0 0 auto;
}
#sidebar {
  width: 300px;
  box-sizing: border-box;
  padding: 8px;
}
#score {
  font-size: 20px;
}

/* General */
button {
  font-size: 16px;
  height: 40px;
  min-width: 40px;
  background-color: #fff;
  font-weight: bold;
}
button:hover {
  background-color: #f0f0f0;
}
